.software-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.software-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.software-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.software-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.software-navlink {
  display: contents;
}
.software-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.software-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.software-icon {
  width: 36px;
  height: 36px;
}
.software-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.software-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.software-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.software-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.software-link02 {
  font-weight: 700;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.software-link03 {
  text-decoration: none;
}
.software-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.software-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.software-image1 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.software-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.software-icon02 {
  width: 24px;
  height: 24px;
}
.software-links-container1 {
  display: flex;
  font-size: x-large;
  align-items: flex-start;
  flex-direction: column;
}
.software-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.software-text {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.software-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.software-text02 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.software-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.software-text04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.software-link07 {
  text-decoration: none;
}
.software-text06 {
  text-decoration: none;
}
.software-link08 {
  text-decoration: none;
}
.software-text08 {
  text-decoration: none;
}
.software-ul {
  margin: auto;
  padding: auto;
}
.software-li {
  margin-top: 5rem;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-doubleunit);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.software-text10 {
  text-decoration: none;
}
.software-footer-container {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 20vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.software-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.software-social-links {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.software-link09 {
  display: contents;
}
.software-icon04 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.software-link10 {
  display: contents;
}
.software-icon06 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.software-link11 {
  display: contents;
}
.software-icon08 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.software-link12 {
  display: contents;
}
.software-image2 {
  width: 24px;
  object-fit: cover;
  text-decoration: none;
}
.software-link13 {
  display: contents;
}
.software-icon13 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}

.imgcontainer{
 width:50%;
 padding-top:5vh;
}

.imgcontainer img{
 width:100%;
}

@media(max-width: 767px) {
  .software-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .software-icon {
    fill: var(--dl-color-gray-white);
  }
  .software-links-container {
    display: none;
  }
  .imgcontainer{
    width:80%;
  }
}
@media(max-width: 479px) {
  .software-mobile-menu {
    display: none;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  .software-links-container1 {
    width: auto;
    height: 100vh;
  }
  .software-link05 {
    font-size: 18px;
    font-style: normal;
    font-family: Raleway;
    font-weight: 700;
    line-height: 1.55;
    text-transform: capitalize;
    text-decoration: none;
  }
  .software-link07 {
    margin-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
  }
  .imgcontainer{
    width:90%;
  }
}

div.ulcontainer {
    text-align: center;
}
